body {
  color: #71706e;
  font-family: kepler-std-semicondensed-dis, serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: normal;
}

.titleUnderline {
  width: 20%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #b7a095;
}

.navbar {
  background-color: white;
  padding: 20px;
}

.navbar-item {
  color: #b7a095;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.navbar-burger {
  color: #b7a095;
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  color: #b7a095;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top.show {
  opacity: 1;
}

#content {
  height: 2000px;
}

.top {
  font-size: 30px;
}

.about-section {
  padding-bottom: 20px;
}

.about-title {
  font-size: 25px;
  text-align: center;
  color: #71706e;
  font-style: italic;
}

.textAbt {
  text-align: right;
  margin-top: 15px;
  padding-right: 200px;
  margin-bottom: 65px;
}
.textAbt p {
  font-size: 20px;
  color: #71706e;
}

.imgAbt img {
  border-radius: 50%;
  margin-top: 80px;
  float: right;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 60px;
  margin-bottom: 60px;
}

.skills-section {
  padding-top: 60px;
  background-color: #efeaea;
  text-align: center;
}

.wrapper {
  padding-bottom: 100px;
}

.skills-title {
  font-size: 25px;
  color: #71706e;
  padding-top: 50px;
  font-style: italic;
}

.skills-sec {
  text-align: center;
}
.skills-sec h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.skills {
  line-height: 30px;
  padding: 0px 10px;
  color: #d3a796;
  font-size: 18px;
  border-right: 1px solid #996600;
}

.skills-sec {
  font-size: 18px;
}

.skillsparagraph p {
  padding: 5px;
}

.skillexperience-title {
  font-size: 25px;
  text-align: center;
  color: #71706e;
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
}

.experience-wrapper {
  display: inline-flex;
}

.project4language {
  display: inline-flex;
  text-align: center;
  padding: 0px;
  float: center;
  padding-right: 0px;
  padding-top: 10px;
}
.project4language li {
  padding: 0px 5px;
  color: #d3a796;
  font-size: 12px;
}

ul {
  list-style-type: none;
  margin-bottom: 0px;
}
ul p {
  margin-bottom: 0px;
}

.devicon {
  font-size: 12px;
  padding: 10px 25px;
  color: #71706e;
}

.portfolio-sec {
  margin-top: 100px;
  padding-bottom: 20px;
}

.project-title {
  margin-top: 70px;
  font-size: 25px;
  text-align: center;
  color: #71706e;
  font-style: italic;
}

.projectbox {
  text-align: left;
  margin-top: 20px;
}

.project-name {
  padding: 20px;
  font-style: italic;
  text-align: center;
  font-size: 18px;
}

.projectdescription {
  font-size: 16px;
  text-align: justify;
  word-spacing: 1px;
  padding-top: 10px;
}

.inner {
  margin-bottom: 50px;
}

.btn-group i {
  color: #71706e;
  font-size: 25px;
  display: inline-flex;
}

.btn-group i:hover {
  color: #d3a796;
}

.fa {
  color: #b7a095;
  font-size: 22px;
  opacity: 0.5;
}

.downarrow2 {
  position: relative;
  bottom: 0;
  left: 50%;
  color: #b7a095;
  height: 30px;
  width: 30px;
  border: none;
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  background-color: #464658;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #b7a095;
}

.footerSocialmedia {
  padding: 20px;
}
.footerSocialmedia a {
  color: #b7a095;
  padding: 40px;
}
.footerSocialmedia a p {
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
