body {
  color: #71706e;
  font-family: kepler-std-semicondensed-dis, serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: normal;
}

.title_Underline {
  width: 20%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #b7a095;
}

.title {
  font-size: 25px;
  text-align: center;
  color: #71706e;
  font-style: italic;
  padding-top: 20px;
}

.subtitle {
  font-size: 25px;
  text-align: center;
  color: #71706e;
  font-style: italic;
  padding-top: 20px;
}

.navbar {
  background-color: #efeaea;
  padding: 20px;
}

.navbar-item {
  color: #b7a095;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.navbar-burger {
  color: #b7a095;
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  color: #b7a095;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top.show {
  opacity: 1;
}

#content {
  height: 2000px;
}

.top {
  font-size: 30px;
}

.hero-body {
  background-color: #efeaea;
  background-size: 1440px 720px;
  background-repeat: no-repeat;
  object-fit: scale-down;
  background-size: 100%;
  background-size: cover;
  min-height: 715px;
  background-position: center;
  color: #464658;
}

.container-title {
  background-position: center;
  text-align: center;
  margin-top: 220px;
  color: black;
}

.container-title .title {
  font-size: 45px;
  color: #425154;
  letter-spacing: 10px;
}

.hero_subtitle {
  font-size: 27px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  color: #425154;
}

.underline {
  width: 33%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-top: 2px solid #425154;
}

.about-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.textAbt {
  text-align: right;
  float: left;
}
.textAbt p {
  font-size: 20px;
  color: #71706e;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.personal-bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgAbt img {
  border-radius: 50%;
}

.portfolio-section {
  background-color: #efeaea;
  text-align: center;
  padding-bottom: 20px;
}

.experience-wrapper {
  display: inline-flex;
  align-items: center;
}

.work-experience {
  display: block;
  padding: 20px;
}

.skills {
  line-height: 30px;
  padding: 0px 10px;
  color: #d3a796;
  font-size: 18px;
}

.skills-column p {
  padding: 5px;
}

.project4language {
  display: inline-flex;
  text-align: center;
  padding: 0px;
  float: center;
  padding-right: 0px;
  padding-top: 10px;
}
.project4language li {
  padding: 0px 5px;
  color: #d3a796;
  font-size: 12px;
}

ul {
  list-style-type: none;
  margin-bottom: 0px;
}
ul p {
  margin-bottom: 0px;
}

.devicon {
  font-size: 12px;
  padding: 10px 25px;
  color: #71706e;
}

.project-title {
  margin-top: 70px;
  font-size: 25px;
  text-align: center;
  color: #71706e;
  font-style: italic;
}

.projectbox {
  text-align: left;
  margin-top: 20px;
}

.project-name {
  padding: 20px;
  font-style: italic;
  text-align: center;
  font-size: 18px;
}

.projectdescription {
  font-size: 16px;
  text-align: justify;
  word-spacing: 1px;
  padding-top: 10px;
}

.inner {
  margin-bottom: 50px;
}

.btn-group i {
  color: #71706e;
  font-size: 25px;
  display: inline-flex;
}

.btn-group i:hover {
  color: #d3a796;
}

.fa {
  color: #b7a095;
  font-size: 22px;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .show {
    display: none;
  }
}
.footer {
  text-align: center;
  background-color: #464658;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #b7a095;
}

.footerSocialmedia {
  padding: 10px;
}
.footerSocialmedia a {
  color: #b7a095;
  padding: 40px;
}
.footerSocialmedia a p {
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
