//****
//ALL*
//****

body {
  background-color: #f5efec;
  color: #71706e;
  font-family: kepler-std-semicondensed-dis, serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-style: normal;
}
.title {
  font-size: 25px;
  text-align: left;
  color: #71706e;
  // padding: 50px;
}
.subtitle {
  font-size: 20px;
  text-align: center;
  color: #71706e;
  font-style: bold;
  padding-top: 20px;
}
.title_Underline {
  width: 20%;
  margin: 0 auto;
  margin-top: 20px;;
  margin-bottom: 20px;
  border-top: 2px solid #b7a095;;
}

//********
//Top Nav*
//********

.navbar {
  background-color: #ece7e2;
}

.navbar-menu {
  background-color: #ece7e2;   
}

.navbar-item {
  color: #b7a095;
  text-align: center;
  padding: 14px;   
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;  
}

.navbar-burger {
  color: #b7a095;
  a:hover {
    background-color: #b7a095;
    color: whitesmoke;
  }
}   

//***********************
//arrow to return to top*
//***********************

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: #b7a095;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}
.top {
  font-size: 30px;
}

//***********************
//hero and title section*
//***********************

.hero-body {
  background-color: #ece7e2;
  color: #b7a095;
  height: 100vh;
}

.hero-title {
  font-size: 55px;
  color: #b7a095;
  letter-spacing: 10px;
}

.container-title {
  text-align: center;
  font-variant: small-caps;
  position: relative;
  top: 30%;
}

.hero-subtitle {
  font-size: 27px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  color: #b7a095;
}
.underline {
  width: 33%;
  margin: 0 auto;
  margin-bottom: 30px;
  border-top: 2px solid #425154;;
}

//*********
//about me*
//*********

.about-me {
  padding: 50px;
  display: flex;
  max-width: 48rem;
  margin: 0 auto;
  p {
    font-size: 20px;
    color: #71706e;
    text-align: left;
  }
}

.my-bio {
  display: flex;
  align-self: center;
}

.image-about_me {
  display: flex;
  justify-content: space-evenly;
}

.personal-bio img {
  border-radius: 100%;
  border: 2px solid #ece7e2;
  margin-bottom: .9375rem;
  max-height: 275px;
  max-width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30%;
}

//*******************
//experience section*
//*******************

.experience {
  padding: 48px;
  max-width: 55rem;
  margin: 0 auto;
}

.job-column {
  background-color: #b7a095;
  margin: 20px;
}

.article-work {
  display: flex;
  justify-content: space-around;
  color: whitesmoke;
}

.my-education {
  display: block;
}

.service-work {
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}

@media screen and (min-width: 1024px) {
.service-work {
  flex-direction: row;
  justify-content: space-between;
  }
}

@media screen and (max-width: 1023px) {
  .bio-service{
    display: contents;
    }
  }

.service-education {
  display: block;
}

.job {
  text-align: left;
}

.bio-service {
  color: whitesmoke;
  text-align: left;
  min-height: 280px;
  font-size: 18px;
}

.years-service {
  color: whitesmoke;
  font-size: 20px;
  margin-bottom: 5px;
}

.portfolio {
  padding-bottom: 20px;
}

.heading {
  font-size: 25px;
  text-align: left;
  color: whitesmoke;
}

.resume {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .625rem 0;
  color: whitesmoke;
}

.resume_subtitle {
  width: 100%;
  font-style: italic;
  margin: 0 0 .3125rem;
}

//****************************************
//Make a toggle to open experience detail* 
//****************************************


/* Style the button that is used to open and close the collapsible content */

.collapsible1, .collapsible2, .collapsible3, .collapsible4, .collapsible5, .collapsible6 {
  font-family: kepler-std-semicondensed-dis, serif;
  // background-color: #ece7e2;
  background-color: #b7a095;
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible1:hover, .active, .collapsible2:hover, .active, .collapsible3:hover, .active, .collapsible4:hover, .active, .collapsible5:hover, .active, .collapsible6:hover {
  // background-color: #ccc;
  background-color: #b7a095;

}

/* Style the collapsible content. Note: hidden by default */
.content_1, .content_2, .content_3, .content_4, .content_5, .content_6 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  // background-color: #f1f1f1;
  display: none;

}

.collapsible1:after, .collapsible2:after, .collapsible3:after, .collapsible4:after, .collapsible5:after, .collapsible6:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

//************************
//SKill Icons on portfolio
//************************

.media {
  display: inline-block;
  text-align: justify;
  font-size: small;
  .dev-icon {
    color: #71706e;
    .icon-text {
      padding: 2px;
    }
  }
}

.devicon {
  color: #71706e;
}

//*********
//Portfolio
//*********

.all-projects {
  max-width: 58rem;
  margin: 0 auto;
}

.card {
  display: contents;
}

.project-name {
  font-style: italic;
  text-align: center;
  font-size: 18px;
}

//***********
//GIThub link
//***********

.btn-group i {
  color: #71706e;
  font-size: 25px;
  display: inline-flex;
}

.btn-group i:hover {
  color: #d3a796;
}

//******
//Icons*
//******

.fa {
  color: #b7a095;
  font-size: 22px;
  opacity: .5;
}

//*********
//Up arrow*
//*********

@media screen and (max-width: 768px) {
  .show {
    display: none;
  }
}

//******
//footer
//******

.footer {
  text-align: center;
  background-color: #ece7e2;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #b7a095;
}
.footerSocialmedia {
  padding: 10px;
  a {
    // color: #b7a095;
    color: #71706e;
    padding: 10px;
  }
}

.contact-info {
  display: flex;
  .footer-title {
    align-self: center;
    margin-left: 30px;
  }
}
