//******ALL******

body {
  font-family: 'Amiri', serif;
  color: #b7a095;
}
//******Down arrow*****

.fa {
  color: #b7a095;
  padding-top:25px;
  font-size: 22px;
  opacity: .5;
}

.downarrow2 {
  position:relative;
  bottom:0;
  left:50%;
  color: #b7a095;
  height: 30px;
  width: 30px;
  border: none;
  margin-bottom: 5px;
}

//******Portfolio******

.project-title {
  margin-top: 70px;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  font-family: 'Amiri', serif;
  color: #b7a095;
}

.img-project {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.project4{
  // height: 60px;
  // width: 100%;
}

  // .anchorDiv{
  //   // border: red 1px solid;
  //   height: 20px;
  //   // width: 100%;
  // }
  //
  .anchorDiv2 { 
    height: 50px;
  }


//******GIThub link*****
//******Skills******

.skills-container {
  background-color: #f4ebe8;
}

.diagonal-white-left {
    width: 101%;
    border-bottom: 80px solid white;
    -webkit-transform:
        translateY(-45px)
        translateX(0px)
        rotate(-2.5deg);
    position: absolute;
    overflow-x: hidden;
}

.devicon {
  font-size: 20px;
  padding: 10px 30px;
}

.skills-sec {
  text-align: center;
  margin-top: 5px;
  padding-bottom: 10px;
}

.Language-skills {
  display: inline-flex;
  padding: 20px;
}

.backend-skills {
  display: inline-flex;
  padding: 20px;
}

.frontend-skills {
  display: inline-flex;
  padding: 20px;
}

.tools-skills {
  display: inline-flex;
  padding: 20px;
  margin-bottom: 80px;
}

.skills-title {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  font-family: 'Amiri', serif;
  color: #b7a095;
  padding-top: 100px;
  margin-top: -5px;
}

h3 {
  font-size: 16px;
  font-weight: bold;

}



//******about me******

.page-section {
  display: -webkit-inline-box;
  padding-top: 40px;
}

.about-container {
  text-align: center;
  margin-top: 70px;
}
.clearfix {
  clear: both;
  display: table;
}

.about-title {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  font-family: 'Amiri', serif;
  color: #b7a095;
}

.textAbt {
  text-align: center;
  position: relative;
  max-width: 1000px;
  padding: 10px;
  // margin-left: 20%;
  margin: 100px;
  margin-top: -0px;
  margin-bottom: 45px;
  float: right;
  p {
    font-size: 16px;
  }
}

// .imgAbt img {
  // border: 1px #b7a095 solid;
  // border-radius: 80%;
  // padding: 20px;
  // max-width: 125px;
  // max-height: 175px;
// }

.imgAbt {
  // float: right;
  // padding: 30px;
  margin-bottom: 100px;
  // width: 300px;
  // min-height: 300px;
  padding-top: 100px;
  // border-radius: 50%;
  // border: 1px #b7a095 solid;
  // background-image: url("../images/marblebackground.jpg");
}

//******break******

.diagonal-white-right {
    width: 101%;
    border-bottom: 80px solid white;
    -webkit-transform:
        translateY(-45px)
        translateX(0px)
        rotate(2.5deg);
    position: absolute;
    overflow-x: hidden;
}

//******hero and title section******

.jumbotron {
  background-image: url("../images/headerimage4.jpg");
  // background-color: #71706e;
  background-position: center;
  background-size: 700px 1000px;
  // border: 1px #b7a095 solid;
  -moz-background-size: 700px 1000px;
  -webkit-background-size: 700px 1000px;
  min-height: 400px;
  // background-attachment: fixed;
}

.container-title {
  // background-color: RGB(244,235,232, 0.7);
  background-color: #f4ebe8;
  font-family: 'Amiri', serif;
  color: #b7a095;
  text-align: center;
  margin-top: 90px;
  // border: 1px #b7a095 solid;
  // margin-right: -24px;
  // margin-left: -24px;
  .title {
    padding-top: 40px;
    color: #b7a095;
    font-size: 30px;
  }
}

.subtitle {
  font-size: 22px;
  padding-bottom: 30px;
  color: #b7a095;
}

// .container-name {
// }


// .navbar {
//   background-color: white;
// }

//******arrow to return to top******

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: #b7a095;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

.top {
  font-size: 30px;
}

// .top:hover {
//   color: grey;
// }

/****** Top Nav ******/

.topnav-container {
  width: 505px;
  margin: 0 auto;
}

.topnav {
  // background-color: #f1f1f1;
    background-color: #71706e;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #b7a095;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

.topnav a:hover {
  color: grey;
}

.active {
    color: white;
}

.topnav .icon {
    display: none;
}

//link to hide all except first one which is home
/* Add "responsive" class and display the links vertically instead of horizontally */

@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
